# Dependencies
node_modules/
package-lock.json

# Build Outputs
dist/
build/
*.tsbuildinfo

# OS / Miscellaneous
.DS_Store
Thumbs.db
*.log
*.pem

# Environment Secrets

# Database Logs and IDE
.vscode/
.idea/
*.db
*.db-journal
config.bat
